<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scale=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Take me there Gov!", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>
                            @using (Html.BeginForm("listSearch", "List"))
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2" name="search">
                                    @*<span class="input-group-btn">
                                            <button class="btn btn-default glyphicon glyphicon-search" type="button">Go!</button>
                                        </span>*@
                                </div>
                            }


                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content" style="padding-top: 100px;">

            @RenderBody()
        </div>
        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">

                    <a class="btn btn-default" href="../List/ListIndex" role="button">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-xs-6">

                    <a class="btn btn-default" href="../Map/Index" role="button">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
