@using GovHack2015.Logic
@using GovHack2015.Models
@model GovHack2015.Models.DtoContent

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@



@if (Model.Error != null)
{
    <div class="alert-info">@Model.Error</div>
}
else
{
    <div class="container">
   <!--  <div id="timeline" class="timeline-container">-->

        @{
    DateTime date = DateTime.MinValue;
        }
        @*@for (var i = 0; i < Model.ArticleList.Count(); i++)
            {*@

        @for (var i = 0; i < Model.ArticleList.Count(); i++)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>@Model.ArticleList.ElementAt(i).DateTime.ToString("MMMM dd, yyyy")</h2>
                <dl>

                    @{ date = Model.ArticleList.ElementAt(i).DateTime; }

                    @while (date == Model.ArticleList.ElementAt(i).DateTime)
                    {
                        <dt onclick="toggleId(toggle@(i))">
                            <h4 id="list-heading">@Model.ArticleList.ElementAt(i).Title</h4>
                        </dt>
                        <dd id="toggle@(i)" style="display: none">

                            <img alt="Primary Image" src="@Model.ArticleList.ElementAt(i).PrimaryImage" width="250" /><br />
                            <h6><small>@Model.ArticleList.ElementAt(i).PrimaryImageRightsImage</small></h6>
                            <h5>@Model.ArticleList.ElementAt(i).PrimaryImageCaption</h5>
                            
                            <a href="@Model.ArticleList.ElementAt(i).Url">Tell me more</a>
                            <hr/>

                        </dd>
                        i++;
                        if (i > Model.ArticleList.Count() - 1)
                        {
                            break;
                        }

                    }

                </dl>
            </div>
        }



    </div>

}


<script>

    function toggleId(id) {
        $(id).slideToggle("slow");

    };
    $(document).ready(function () {

        function makeRequest(url) {
            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                httpRequest = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE
                try {
                    httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e) {
                    try {
                        httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e) { }
                }
            }

            if (!httpRequest) {
                alert('Giving up :( Cannot create an XMLHTTP instance');
                return false;
            }
            // httpRequest.onreadystatechange = alertContents;
            httpRequest.open('GET', url);
            httpRequest.send();
        }
        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var hr = window.location.href.substr(0, window.location.href.search(window.location.pathname.substr(0)));
                makeRequest(hr + "/Home/UpdateUserLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude);
            });
        }

        

        //$.timeliner({});

    });
</script>